<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='slike/ikona.png') }}">
</head>
<body>
<header>
    <div class="container">

        <!-- LOGO + NASLOV -->
        <div class="logo-container">
            <a href="/">
                <img src="{{ url_for('static', filename='slike/ikona.png') }}" height="50">
            </a>
            <div class="logo">Gurmanski svet</div>
        </div>

        <!-- NAVIGACIJA -->
        <nav>
            <ul>
                <li><a href="/" class="active">Domov</a></li>

                <li class="dropdown">
                    <a href="#">Recepti ▾</a>
                    <div class="dropdown-content">
                        <a href="/randomRecipe">Naključni recept</a>
                        <a href="/hladilnik">Po sestavinah</a>
                        <a href="/predlagani_recepti">Predlagani recepti</a>
                        <a href="/idSearch">Iskanje po ID</a>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#">Orodja ▾</a>
                    <div class="dropdown-content">
                        <a href="/kalkulator">Kalkulator</a>
                        <a href="/pretvori">Pretvornik enot</a>
                        <a href="/info">Info o sestavinah</a>
                    </div>
                </li>

                <li><a href="/zdravi">Zdravi obrok</a></li>
                <li><a href="/tecaji">Tečaji</a></li>
                <li><a href="/dodajRecept">Dodaj recept</a></li>

{% if username %}
<li class="dropdown">
    <a href="#">Hej {{ username }} ▾</a>
    <div class="dropdown-content">
        <a href="/logout">Odjava</a>
    </div>
</li>
{% else %}
<li><a href="/login">Prijava</a></li>
{% endif %}
            </ul>
        </nav>

    </div>
</header>

    <a href="/">Domov</a>
    <h1>Kalkulator sestavin</h1>

    <input type="number" id="kolicina1" placeholder="Količina 1"><br>
    <input type="number" id="kolicina2" placeholder="Količina 2"><br>
    <input type="number" id="kolicina3" placeholder="Količina 3"><br>
    <input type="number" id="kolicina4" placeholder="Količina 4"><br>
    <input type="number" id="kolicina5" placeholder="Količina 5"><br>
    <input type="number" id="kolicina6" placeholder="Količina 6"><br>
    <br>
    <input type="number" id="stevilo" placeholder="Število ljudi"><br>

    <button onclick="getKalkulator()">Pretvori sestavine</button>

    <p>*Vnesti morate vsaj eno količino</p>
    <p>*Število ljudi je obvezno</p>
 
    <div id="output">
        {% if pretvorjene %}
        <h2>Rezultati:</h2>
        <ul>
            {% for item in pretvorjene %}
                <li>{{ item }} enot</li>
            {% endfor %}
        </ul>
            {% else %}
                <p>Ni rezultatov za prikazati ali napačni podatki.</p>
            {% endif %}
    
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function getKalkulator() {
            var output = document.getElementById("output");
 
            $.ajax({
                url: "/getKalkulator",
                data: {
                    stevilo: stevilo.value,
                    kolicina1: kolicina1.value,
                    kolicina2: kolicina2.value,
                    kolicina3: kolicina3.value,
                    kolicina4: kolicina4.value,
                    kolicina5: kolicina5.value,
                    kolicina6: kolicina6.value

                },
                //output narjen s chatom
                success: function (result) {
                    var html = "<h2>Vnesene količine:</h2><ul>";
                    html += "<li>Količina 1: &nbsp;&nbsp;" + kolicina1.value + "</li>";
                    html += "<li>Količina 2: &nbsp;&nbsp;" + kolicina2.value + "</li>";
                    html += "<li>Količina 3: &nbsp;&nbsp;" + kolicina3.value + "</li>";
                    html += "<li>Količina 4: &nbsp;&nbsp;" + kolicina4.value + "</li>";
                    html += "<li>Količina 5: &nbsp;&nbsp;" + kolicina5.value + "</li>";
                    html += "<li>Količina 6: &nbsp;&nbsp;" + kolicina6.value + "</li><br>";
                    html += "<li>Število ljudi: " + stevilo.value + "</li>";
                    html += "</ul>";
                
                    output.innerHTML = html;
                }


            });
        }
    </script>
</body>
</html>