<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Predlagani recepti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='slike/ikona.png') }}">

</head>
<body>

<header>
    <div class="container">
        <div class="logo-container">
            <a href="/">
                <img src="{{ url_for('static', filename='slike/ikona.png') }}" height="50">
            </a>
            <div class="logo">Gurmanski svet</div>
        </div>

        <nav>
            <ul>
                <li><a href="/" class="active">Domov</a></li>

                <li class="dropdown">
                    <a href="#">Recepti ▾</a>
                    <div class="dropdown-content">
                        <a href="/randomRecipe">Naključni recept</a>
                        <a href="/hladilnik">Po sestavinah</a>
                        <a href="/predlagani_recepti">Predlagani recepti</a>
                        <a href="/idSearch">Iskanje po ID</a>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#">Orodja ▾</a>
                    <div class="dropdown-content">
                        <a href="/kalkulator">Kalkulator</a>
                        <a href="/pretvori">Pretvornik enot</a>
                        <a href="/info">Info o sestavinah</a>
                    </div>
                </li>

                <li><a href="/zdravi">Zdravi obrok</a></li>
                <li><a href="/tecaji">Tečaji</a></li>
                <li><a href="/dodajRecept">Dodaj recept</a></li>

{% if username %}
<li class="dropdown">
    <a href="#">Hej {{ username }} ▾</a>
    <div class="dropdown-content">
        <a href="/logout">Odjava</a>
    </div>
</li>
{% else %}
<li><a href="/login">Prijava</a></li>
{% endif %}
            </ul>
        </nav>

    </div>
</header>

    <div class="iskanje">
    <h1>Odobreni recepti uporabnikov</h1>

    <input type="text" id="search" placeholder="Išči recepte...">
    <button onclick="isci()">Išči</button>

    </div>
    <div id="recepti-container">

{% for recept in recepti %}
<div class="recept-box">

    {% if recept.slika %}
        <img class="recept-img" src="{{ recept.slika }}">
    {% endif %}

    <div class="recept-content">

        <h2>{{ recept.naslov }}</h2>

        <div class="recept-meta">
            <span>Čas priprave: {{ recept.cas_priprave }} min</span>
            <span>Št. oseb: {{ recept.osebe }} oseb</span>
            <span>Težavnost: {{ recept.tezavnost }}</span>
        </div>

        <div class="recept-section">
            <h3>Sestavine</h3>
            <p>{{ recept.sestavine }}</p>
        </div>

        <div class="recept-section">
            <h3>Navodila</h3>
            <p>{{ recept.navodila }}</p>
        </div>

    </div>
</div>
{% endfor %}

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
    function isci() {
        let query = document.getElementById("search").value;

        if (query.trim() === "") {
            location.reload();
            return;
        }

        $.get("/search", { q: query }, function(data) {

            let html = "";

            data.forEach(function(recept) {
                html += `
                <div class="recept-box">
                
                    ${recept.slika ? `<img class="recept-img" src="${recept.slika}">` : ""}
                
                    <div class="recept-content">
                    
                        <h2>${recept.naslov}</h2>
                    
                        <div class="recept-meta">
                            <span>Čas priprave: ${recept.cas_priprave} min</span>
                            <span>Št. oseb:${recept.osebe} oseb</span>
                            <span>Težavnost:${recept.tezavnost}</span>
                        </div>
                    
                        <div class="recept-section">
                            <h3>Sestavine</h3>
                            <p>${ recept.sestavine}</p>
                        </div>
                    
                        <div class="recept-section">
                            <h3>Navodila</h3>
                            <p>${recept.navodila}</p>
                        </div>
                    
                    </div>
                
                </div>
                `;
            });

            if (html === "") {
                html = "<p style='color:red'>Ni zadetkov</p>";
            }

            document.getElementById("recepti-container").innerHTML = html;
        });
    }
    </script>




    </div>

    <footer class="footer">
        <div class="footer-container">

            <div class="footer-section">
                <h3>Gurmanski svet</h3>
                <p>Tvoja destinacija za najboljše recepte</p>
            </div>
            
        <div class="footer-section">
            <h4>Kontakt</h4>
            <p>Email: info@gurmanskisvet.si</p>
            <p class="copyright">
                © 2026 Gurmanski svet<br>
                Vse pravice pridržane<br><br>
                Pojdi si kaj skuhat ;)
            </p>
        </div>
            <div class="footer-section">
                <h4>Navigacija</h4>
                <a href="/">Domov</a>
                <a href="/randomRecipe">Recepti</a>
                <a href="/kalkulator">Orodja</a>
                <a href="/tecaji">Tečaji</a>
            </div>



        </div>
    </footer>
</body>
</html>