<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pretvorba enot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='slike/ikona.png') }}">
</head>
<body>
<header>
    <div class="container">

        <!-- LOGO + NASLOV -->
        <div class="logo-container">
            <a href="/">
                <img src="{{ url_for('static', filename='slike/ikona.png') }}" height="50">
            </a>
            <div class="logo">Gurmanski svet</div>
        </div>

        <!-- NAVIGACIJA -->
        <nav>
            <ul>
                <li><a href="/" class="active">Domov</a></li>

                <li class="dropdown">
                    <a href="#">Recepti ▾</a>
                    <div class="dropdown-content">
                        <a href="/randomRecipe">Naključni recept</a>
                        <a href="/hladilnik">Po sestavinah</a>
                        <a href="/predlagani_recepti">Predlagani recepti</a>
                        <a href="/idSearch">Iskanje po ID</a>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#">Orodja ▾</a>
                    <div class="dropdown-content">
                        <a href="/kalkulator">Kalkulator</a>
                        <a href="/pretvori">Pretvornik enot</a>
                        <a href="/info">Info o sestavinah</a>
                    </div>
                </li>

                <li><a href="/zdravi">Zdravi obrok</a></li>
                <li><a href="/tecaji">Tečaji</a></li>
                <li><a href="/dodajRecept">Dodaj recept</a></li>

{% if username %}
<li class="dropdown">
    <a href="#">Hej {{ username }} ▾</a>
    <div class="dropdown-content">
        <a href="/logout">Odjava</a>
    </div>
</li>
{% else %}
<li><a href="/login">Prijava</a></li>
{% endif %}
            </ul>
        </nav>

    </div>
</header>


    <a href="/">Domov</a>
    <h1>Pretvorite enote</h1>

    <input type="text" id="ing" placeholder="Sestavina" required><br>
    <input type="text" id="amount" placeholder="Kolicina" required><br>
    <select id="enota" required>
        <option value="">Izberi enoto</option>
        <option value="grams">grams</option>
        <option value="g">g</option>
        <option value="kilograms">kilograms</option>
        <option value="kg">kg</option>
        <option value="ounces">ounces</option>
        <option value="oz">oz</option>
        <option value="cups">cups</option>
        <option value="tablespoons">tablespoons</option>
        <option value="teaspoons">teaspoons</option>
        <option value="ml">ml</option>
        <option value="liters">liters</option>
    </select>

    <select id="pretvorjena" required>
        <option value="">Pretvori v</option>
        <option value="grams">grams</option>
        <option value="g">g</option>
        <option value="kilograms">kilograms</option>
        <option value="kg">kg</option>
        <option value="ounces">ounces</option>
        <option value="oz">oz</option>
        <option value="cups">cups</option>
        <option value="tablespoons">tablespoons</option>
        <option value="teaspoons">teaspoons</option>
        <option value="ml">ml</option>
        <option value="liters">liters</option>
    </select><br>

    <button onclick="getPretvori()">Pretvori</button>

    <div id="output"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function getPretvori() {
            var output = document.getElementById("output");

            $.ajax({
                url: "/getPretvori",
                data: {
                    ing: ing.value,
                    amount: amount.value,
                    enota: enota.value,
                    pretvorjena: pretvorjena.value
                },
                success: function (result) {
                    
                    output.innerHTML = result;

                }
            });
        }
    </script>



</body>
</html>